*{
    box-sizing: border-box;
}
:root{
    width: 1300px;
    height: 800px;
}
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
fieldset{
    width: 400px;
    height: 250px;
}
legend{
    font-size: 20px;
    font-weight: bold;
}
datalist {
	display: flex;
	justify-content: space-between;
	width: 200px;
}
label{
    display: inline-block;
    width: 150px;
    height: 30px;
}
input{
    width: 200px;
}
#gender-word{
    width: 100px;
}
.gender > input{
    width: 20px;
    margin-left: -5px;
}
.gender > label{
    width: 50px;
}
option {
	padding: 0;
}
input[type='range'] {
	width: 200px;
	margin: 0;
}
#quesused{
    width: 20px;
    margin-left: -100px;
}
.autocolor{
    width: 270px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.autocolor > div{
    width: fit-content;
}
.autocolor > div > label{
    width: fit-content;
    height: fit-content;
}
.autocolor > div > input{
    width: 10px;
    margin-right: -5px;
}
.price{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.price > label{
    height: fit-content;
}
.btns > input{
    width: 70px;
}
.btns{
    padding-top: 10px;
}